
    .artist-bg{
        background-image: url("../images/01.jpg");
    }
    .artist-content{
        display: none;
        .introduce-inner{
            .intrduction{
                h2{
    
                }
                .birth{
                    p{}
                }
                .instagram{
                    a{}
                }
            }
    
            .introduce-story{
                    .div{}
            } 
        }
    
        .artist-concept{
            display: none;
            img{}
        }
    
        .biography{
            display: none;
            h2{}
            .inner01{
                .drama{
                    h3{}
                    .drama-list{
                        ul{
                            .year{
    
                            }
                            .tilte{
    
                            }
                        }
                    }
                }
    
                .movie{
                    h3{}
                    .movie-list{
                        ul{
                            .year{
    
                            }
                            .tilte{
    
                            }
                        }
                    }
                }
    
                .cf{
                    h3{}
                    .cf-list{
                        ul{
                           .cf-name{
    
                           }
                        }
                    }
                }
            }
    
            .inner02{
                .music-video{
                    h3{}
                    .music-video-list{
                        ul{
                            .year{
    
                            }
                            .tilte{
    
                            }
                        }
                    }
                }
    
                .variety-show{
                    h3{}
                    .variety-list{
                        ul{
                            .year{
    
                            }
                            .tilte{
    
                            }
                        }
                    }
                }
            }
    
            .inner03{
                .award{
                    h3{}
                    .award-list{
                        ul{
                            .year{
    
                            }
                            .tilte{
    
                            }
                        }
                    }
                }
            }
        }
    
    }


